<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>0</string>
	<key>B</key>
	<string>1</string>
	<key>C</key>
	<string>2</string>
	<key>D</key>
	<string>3</string>
	<key>E</key>
	<string>4</string>
	<key>F</key>
	<string>5</string>
	<key>G</key>
	<string>6</string>
	<key>H</key>
	<string>7</string>
	<key>I</key>
	<string>8</string>
	<key>J</key>
	<string>9</string>
	<key>K</key>
	<string>10</string>
	<key>L</key>
	<string>11</string>
	<key>M</key>
	<string>12</string>
	<key>N</key>
	<string>13</string>
	<key>O</key>
	<string>14</string>
	<key>P</key>
	<string>15</string>
	<key>Q</key>
	<string>16</string>
	<key>R</key>
	<string>17</string>
	<key>S</key>
	<string>18</string>
	<key>T</key>
	<string>19</string>
	<key>U</key>
	<string>20</string>
	<key>V</key>
	<string>21</string>
	<key>W</key>
	<string>22</string>
	<key>X</key>
	<string>23</string>
	<key>Y</key>
	<string>24</string>
	<key>Z</key>
	<string>25</string>
	<key>a</key>
	<string>26</string>
	<key>b</key>
	<string>27</string>
	<key>c</key>
	<string>28</string>
	<key>d</key>
	<string>29</string>
	<key>e</key>
	<string>30</string>
	<key>f</key>
	<string>31</string>
	<key>g</key>
	<string>32</string>
	<key>h</key>
	<string>33</string>
	<key>i</key>
	<string>34</string>
	<key>j</key>
	<string>35</string>
	<key>k</key>
	<string>36</string>
	<key>l</key>
	<string>37</string>
	<key>m</key>
	<string>38</string>
	<key>n</key>
	<string>39</string>
	<key>o</key>
	<string>40</string>
	<key>p</key>
	<string>41</string>
	<key>q</key>
	<string>42</string>
	<key>r</key>
	<string>43</string>
	<key>s</key>
	<string>44</string>
	<key>t</key>
	<string>45</string>
	<key>u</key>
	<string>46</string>
	<key>v</key>
	<string>47</string>
	<key>w</key>
	<string>48</string>
	<key>x</key>
	<string>49</string>
	<key>y</key>
	<string>50</string>
	<key>z</key>
	<string>51</string>
	<key>0</key>
	<string>52</string>
	<key>1</key>
	<string>53</string>
	<key>2</key>
	<string>54</string>
	<key>3</key>
	<string>55</string>
	<key>4</key>
	<string>56</string>
	<key>5</key>
	<string>57</string>
	<key>6</key>
	<string>58</string>
	<key>7</key>
	<string>59</string>
	<key>8</key>
	<string>60</string>
	<key>9</key>
	<string>61</string>
	<key> </key>
	<string>62</string>
	<key>nil</key>
	<string></string>
</dict>
</plist>
